html, body {
    height: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

section.h1-grooming{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: center;

}



.foodbowl{
    width: 600;
    height: 900px;
    position: relative;

}