/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header Styling */
.top-bar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.top-bar h1 {
    margin: 0;
}

/* Navigation Bar Styling */
.nav-items {
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

.nav-items li {
    display: inline;
    margin-right: 20px;
}

.nav-items a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-items a:hover {
    color: #008CBA;
}

/* Section Styling */
.content {
    padding: 20px;
    margin: 20px 0;
}


/* Picutre Styling */
.home-section{
    width: 100px;
    margin:60px;
}

/* Footer Styling */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 0;
}

/* Media Query */
@media (max-width: 768px) {
    .nav-items {
        display: none;
    }
}

@media (max-width: 480px) {
    .top-bar h1 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .top-bar h1 {
        display: block;
        font-size: 24px;
    }
}
